
/* common for all */
@media only screen
  and (orientation: portrait){

    body{
      position: absolute;
      height:100vh;
      width: 100vw;
      margin: 0 auto;
    }

    #menu1, #menu2{
      position: absolute;
      float: left;
      width: 10vmin;
      margin-left: 2vmax;
      margin-top: 2vmax;
    }

    #sidebar {
      display: none;
      position: fixed;
      height: 50vmax;
      width: 50vmin;
      background-color: #ccc;
      z-index: 999;
    }

    #email {
      display: block;

      margin-top: 15vmax;
      margin-left: 5vmax;
      font-size: 5vmin;
      font-weight: bold;
    }

    .img_bg {
      display: block;
      width: 90vw;
      height: auto;

      margin: 0 auto;
      margin-top: 5vh;
    }

    .icons{
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    .tw_icon, .ig_icon, .sc_icon, .yt_icon, .fb_icon{
      width: 10vw;
      margin-left: 1vw;
    }

    .tatext {
      display: none;
    }

    .text {
      display: block;
      font-size: 5vmax;
      font-weight: bold;
      font-family: fantasy;
    }

    #footer{
      position: relative;
      bottom: 0;
      left: 0;
      width: 100vw;
      background-color: #ba1;

      margin-top: 5vh;
      padding: 1vmin 0;
    }

  .youtubevid{
     display: block;
     margin: 0 auto;
     margin-top: 5vh;

     width: 80vw;
     height: auto;
  }
}

  @media only screen
    and (orientation: landscape){

      #nav, #menu1, #menu2, #email, #sidebar, .img_bg, .icons, .tw_icon, .ig_icon, .sc_icon, .yt_icon, .fb_icon, .text, #footer, .youtubevid{
        display: none;
      }

      body {
        background: url("bg_desktop.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      #menu1, #menu2{
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        width: 10vmin;
        margin-left: 2vmax;
        margin-top: 2vmax;
      }

      #sidebar {
        display: none;
        position: fixed;
        top:0;
        left: 0;
        width: 50vmin;
        height: 100vh;
        background-color: #ccc;
        z-index: 999;
      }

      #email {
        display: block;

        margin-top: 15vmax;
        margin-left: 5vmax;
        font-size: 5vmin;
        font-weight: bold;
      }

      .icons{
        display: block;
        margin-top: 40vh;
        margin-left: 75vh;
      }

      .tw_icon, .ig_icon, .sc_icon, .yt_icon, .fb_icon{
        display: inline;
        width: 8vmin;
        margin-left: 1vmin;
      }

      .tatext {
        display: block;
        width: 20vmax;
      }

      #footer{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: #ba1;

        margin-top: 5vh;
        padding: 1vmin 0;
      }

}
/* ends */
