a {
  text-decoration: none;
  color: #000;
}

@media only screen
  and (orientation: landscape){

    /* main Section */
    body{
      background: #eee;
    }

    #main {
      position: fixed;
      top: 0; left: 0;
      margin: 0 auto;
      width:  100vw;
      height: 100vh;

      background: #eee;
    }

    /* header Section */

    .header {
      display: block;

      position: relative;
      text-align: center;
      width: 100vw;
      height: auto;
    }

    .headerInline {
      display: inline-block;
      text-align: center;
      margin: 5vh 1vw;
      padding: 5px;
      font-size: 5vmin;
    }

    .headerInline:hover {
      text-shadow: 0 0 2px #666;
    }


    /* contextBody Section */

    .sideBar { display: none; }
    .sideBar {
      position: fixed;
      top: 0; left: 0;
      width: 50vmin;
      height: 100vh;
      box-shadow: 5px 0 15px #666;
      border-top: 1px solid black;

      background: #ccc;
      z-index: 9999;
    }

    .logo {
      display: block;
      text-align: center;
      margin: 10vmin auto;
      width: 5vw;
      height: auto;
      background: no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .sideBarTable {
      display: block;
      text-align: center;
      margin: 5vmin auto;
      font-size: 5vmin;
    }

    .sideBarTable:hover {
      box-shadow: 0 0 5px #555;
    }

    .m1Ico {
      background: url(img/menuicon.gif) 0 0;
    }

    .m2Ico { display: none; }
    .m2Ico {
      background: url(img/menuicon.gif) -5vmin 0;
    }

    .m1Ico, .m2Ico {
      position: fixed;
      top: 0;
      width: 5vmin;
      height: 5vmin;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin: 6vmin 2vmin;
      transform: scale(1.5);
      z-index: 88888;
    }

    .banner {
      position: relative;
      width: 100vw;
      height: 70vh;

      background: url("bg_desktop.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    /* footer Section */


    /* misc Section */
}
